SECRET_KEY_BASE=${SECRET_KEY}
RAILS_LOG_TO_STDOUT=true
GMAIL_DOMAIN=gmail.com
GMAIL_USERNAME=${OYD_GMAIL_USER}
GMAIL_PASSWORD=${OYD_GMAIL_PWD}
VIRTUAL_PORT=${OYD_PORT}
QUEUE_HOST=queue
QUEUE_VHOST=oyd
QUEUE_USER=test
QUEUE_PWD=test
QUEUE_NAME=tasks
MAIL_RELAY_HOST=smtp.gmail.com
MAIL_RELAY_PORT=587
MAIL_RELAY_USER=${OYD_GMAIL_USER}
MAIL_RELAY_PASS=${OYD_GMAIL_PWD}
