<div style="width: 100%; border: grey solid 1px; padding: 10px;">
  <div style="display: table-cell;"><img src="https://placehold.it/140x140"></div>
  <div style="display: table-cell; vertical-align: top;">
  	<p><strong>Tagebuch</strong></p>
  	<span>text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text </span>
  </div>
</div>