<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
  </div>
</div>

<ol style="padding-left: 0px;">
	<%= render partial: "app_installed", collection: @installed_apps %>
</ol>

<div style="clear:both;"></div>
