<p>Hallo <%= @salutation %>!</p>

<p>Klicke auf den folgenden Link, um deinen Datentresor zu öffnen:<br>
&nbsp;&nbsp;&nbsp;<%= link_to 'zum Datentresor', ENV['VAULT_URL'].to_s + '/' + @resource.language.to_s + '/confirm?token=' + @token.to_s %></p>

<p style="color:#aaa">Alternativ kannst du folgenden Link in die Adresszeile deines Browsers kopieren:<br>
	<%= ENV['VAULT_URL'].to_s + '/' + @resource.language.to_s + '/confirm?token=' + @token.to_s %></p>
<p>&nbsp;</p>
<hr>
<p style="color:#aaa"><small>Du erhältst dieses Email, weil mit deiner Emailadresse ein OwnYourData Datentresor angefordert wurde. Wenn diese Anfrage nicht von dir stammt, ignoriere dieses Nachricht - wir löschen die Anfrage samt deiner Emailadresse, wenn nach 2 Stunden der Link oben nicht aufgerufen wird.</small></p>
<p style="color:#aaa"><small>© <a href="https://www.ownyourdata.eu/de">OwnYourData.eu</a> <a href="https://www.ownyourdata.eu/de/imprint">Impressum</a></small></p>