<p>Klicke auf den folgenden Link, um dein Passwort zurückzusetzen:<br>
&nbsp;&nbsp;&nbsp;<%= link_to 'Passwort zurücksetzen', ENV['VAULT_URL'].to_s + '/' + @user.language.to_s + '/confirm_reset?token=' + @token.to_s + '&email=' + @user.email.to_s %></p>

<p style="color:#aaa">Alternativ kannst du folgenden Link in die Adresszeile deines Browsers kopieren:<br>
	<%= ENV['VAULT_URL'].to_s + '/' + @user.language.to_s + '/confirm_reset?token=' + @token.to_s + '&email=' + @user.email.to_s %></p>
<p>&nbsp;</p>
<hr>
<p style="color:#aaa"><small>Du erhältst dieses Nachricht, weil mit deiner Emailadresse ein neues Passwort für den OwnYourData Datentresor angefordert wurde. Wenn diese Anfrage nicht von dir stammt, ignoriere dieses Nachricht - wir löschen die Anfrage wenn nach 2 Stunden der Link oben nicht aufgerufen wird.</small></p>
<p style="color:#aaa"><small>© <a href="https://www.ownyourdata.eu/de">OwnYourData.eu</a> <a href="https://www.ownyourdata.eu/de/imprint">Impressum</a></small></p>